<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link href="{% static 'chosen/chosen.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'chosen/docsupport/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'chosen/docsupport/prism.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'chosen/chosen.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'chosen/docsupport/init.js' %}" type="text/javascript"></script>
    <script src="{% static 'chosen/docsupport/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chosen/docsupport/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chosen/docsupport/prism.js' %}" type="text/javascript"></script>
    <script src="{% static 'chosen/chosen.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BookStore|Book Liat</title>
  </head>
  <body>
    <h1>Add Books</h1>
    <a class="btn btn-success" href="/" role="button">Home</a>
    <a class="btn btn-success" href="/add-book" role="button">Add Book</a>
    <form  style="margin-top: 10px;" class="" action="/book-list" method="post">
        {% csrf_token %}
  <div class="row">
    <div class="col">
          <label for="genre-s">Select Genre:</label>
          <select class="chzn-select form-control" name="genre-s" id="genre-s" multiple>
            {% for genre in genres %}
            <option class="dropdown-item">{{genre}}</option>
          {% endfor %}
              </select>
        </div>
    <div class="col">
          <label for="lang-s">Select Language:</label>
          <select class="chzn-select form-control" name="lang-s" id="lang-s" multiple>
          {% for language in langs %}
            <option class="dropdown-item">{{language}}</option>
          {% endfor %}
          </select>
        </div>
      <div class="col" style="margin-top:15px">
          <button type="submit" class="btn btn-primary">Filter</button>
      </div>
  </div>
</form>
    <div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-sm bg-primary">
      Name Of Books
    </div>
    <div class="col-sm bg-primary">
      Author Of Books
    </div>
    <div class="col-sm bg-primary">
      Genres
    </div>
    <div class="col-sm bg-primary">
      Language
    </div>
  </div>
  {% for book in books %}
        <div class="row">
    <div class="col-sm">
    <a href="details?id={{book.id}}">{{book.name}}</a>
      
    </div>
    <div class="col-sm">
      {{book.author}}
    </div>
    <div class="col-sm">
      {{book.genre}}
    </div>
    <div class="col-sm">
      {{book.lang}}
    </div>
  </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });
</script>
  </body>
</html>
